<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
   <body>
   <div align="center">
   <br>
      <a href = "\staff">
      <button style="height:75px;width:500px; background-color: #B3B6B7 ; border-color: #B3B6B7; color: #34495E" >
            Staff Dashboard</button></a>
        <br><br>
        <h1>Update Query</h1>
      <form action = "{{ url_for('update') }}" method = "POST">
         <br><br><br>
          <h4>Username : {{data[0][0]}}</h4>
          <input type="hidden" name="username" value="{{data[0][0]}}">
          <h4>Query Type : {{data[0][1]}}</h4>
          <h4>Query State : {{data[0][2]}}</h4>
          <h4>Question : {{data[0][3]}}</h4>

          Answer
         <input type = "text" name = "answer" /></br></br>
         <input type = "submit" value = "update" />
      </form>

       <tr>
            <td> Location  details: </td>
            <td>{{ address }}</td>
        </tr>
    </div>
   </body>
</html>